<!doctype html>
<html>

<head>
    <!-- Boostrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Budget Tracker</title>
</head>

<body>
    <div class="container starter-template">
        <div id="app" class="app">
            <budget-display v-bind="budget"></budget-display>
            <hr/>
            <transaction-input></transaction-input>
            <hr/>
            <transactions :transactions="transactions"></transactions>
        </div>
    </div>
</body>

<script type="text/x-template" id="budget">
    <div>
        <div class="daily">
            {{daily}} EUR
        </div>
        <div class="monthly">
                {{balance}} EUR for {{remainingDays}} day(s)
            </div>
        <!-- {{balance}} = {{daily}} for {{remainingDays}} days -->
    </div>
</script>

<script type="text/x-template" id="transactions">
    <table class="table">
        <thead class="thead-light" v-on:click="active = !active">
            <tr>
                <th class="left">Date</th>
                <th class="left">Description</th>
                <th class="left">Amount</th>
            </tr>
        </thead>
        <tbody v-if="active">
        <tr v-for="t, index in transactions">
            <td>{{getFormattedDate(new Date(t.timestamp))}}</td>
            <td class="left">{{t.description}}</td>
            <td>{{t.amount}}</td>
        </tr>
        </tbody>
    </table>    
</script>

<script type="text/x-template" id="transaction-input">
    <form v-on:submit.prevent="">
        <div class="form-group">
            <input placeholder="Enter description" required="true" class="form-control" type="text" v-model="description" autofocus="autofocus">
        </div>
        <div class="form-group">
            <input placeholder="Amount" step="0.01"  required="true" class="form-control" type="number" v-model="amount" placeholder="0.00">
        </div>
        <div class="btn-group">
            <button v-on:click="sub()" class="btn btn-xl btn-danger" type="submit" value="-">-</button>
            <button v-on:click="add()" class="btn btn-success" type="submit" value="+">+</button>
        </div>
        </form>
</script>

<!-- Boostrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/main.js"></script>

</html>