<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Budget Tracker</title>
</head>

<body>
    <div id="app">
        <budget-display v-bind="budget"></budget-display>
        <form v-on:submit.prevent="">
            <input placeholder="Description" type="text" v-model="description" autofocus="autofocus">
            <button v-on:click="add()" type="submit" value="+">+</button>
            <input placeholder="Amount" type="number" v-model="amount" placeholder="0.00">
            <button v-on:click="sub()" type="submit" value="-">-</button>
        </form>
        <table>
            <tr v-for="t, index in transactions">
                <td>{{getFormattedDate(new Date(t.timestamp))}}</td>
                <td>{{t.description}}</td>
                <td>{{t.amount}}</td>
            </tr>
        </table>
    </div>
    </div>
    </div>
</body>

<script type="text/x-template" id="budget">
    <div>
        {{balance}} = {{daily}} for {{remainingDays}} days
    </div>
</script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/main.js"></script>

</html>