<!doctype html>
<html>

<head>
    <!-- Boostrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Budget Tracker</title>
</head>

<body>
    <div class="container starter-template">
        <div id="app" class="app">
            <router-view></router-view>
        </div>
    </div>
</body>

<script type="text/x-template" id="homepage">
    <div>
        <budget-display></budget-display>
        <hr/>
        <transaction-input></transaction-input>
        <hr/>
        <transactions></transactions>
    </div>
</script>

<script type="text/x-template" id="budget">
    <div>
        <div class="daily">
            {{daily}} EUR
        </div>
        <div class="monthly">
                {{balance}} EUR for {{remainingDays}} day(s)
            </div>
    </div>
</script>

<script type="text/x-template" id="transactions">
    <div>
        <div v-if="!active" v-on:click="active = true" class="col-xs-12 table-button">
            Click here to show transactions
        </div>
        <table class="table" v-if="active">
            <thead class="thead-light">
                <tr>
                    <th class="text-left  col-xs-1">Date</th>
                    <th class="text-left  col-xs-10">Description</th>
                    <th class="text-right col-xs-1">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="t, index in transactions">
                    <td class="text-left  col-xs-1">{{getFormattedDate(new Date(t.timestamp))}}</td>
                    <td class="text-left  col-xs-10">{{t.description}}</td>
                    <td class="text-right col-xs-1">{{t.amount}}</td>
                </tr>
            </tbody>
        </table>    
    </div>  
</script>

<script type="text/x-template" id="transaction-input">
    <form v-on:submit.prevent="" v-if="show">
        <div class="form-group">
            <input placeholder="Enter description" ref="input" required="true" class="form-control" type="text" v-model="description" autofocus="autofocus">
        </div>
        <div class="form-group">
            <input placeholder="Amount" step="0.01"  required="true" class="form-control" type="number" v-model="amount" placeholder="0.00">
        </div>
        <div class="btn-group">
            <button v-on:click="sub()" class="btn btn-xl btn-danger" type="submit" value="-">-</button>
            <button v-on:click="add()" class="btn btn-success" type="submit" value="+">+</button>
        </div>
        </form>
</script>

<script type="text/x-template" id="cookie-input">
        <form v-on:submit.prevent="submitCookie"  class="form-inline">
            <div class="input-group mb-2 mr-sm-2">
                <input placeholder="Enter secret" required="true" class="form-control" type="text" v-model="secret" autofocus="autofocus">
            </div>
            <button type="submit" class="btn btn-success mb-2">Submit</button>
        </form>
</script>

<!-- Boostrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/main.js"></script>

</html>