[v-cloak] > * { display:none; }

hr {
    border: 1px solid lightgray;
}

.daily {
    font-size: 40px;
    text-align: center;
    /* padding: 10px; */
}

.monthly {
    text-align: center;
    color: gray;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
  