[v-cloak] > * { display:none; }

hr {
    border: 1px solid lightblue;
}

.daily {
    font-size: 40px;
    text-align: center;
    /* padding: 10px; */
}

.monthly {
    text-align: center;
    color: gray;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.btn-xl {
    padding: 0px 40px 0px 40px;
}

.left {
    text-align: left;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}